<section class="product__container">
    <div class="product-image__conatiner">
        <img [src]="produto?.imagem" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">{{produto?.descricaoPreco}}</h2>
        <h3 class="product__price">{{produto?.preco}}</h3>
        <p> Estoque Disponivel :</p>
        <label>
            Quantidade:
            <input type="number">
            unidades:
        </label>
        <p class="product__avaiability">
            10 Unidade(s) em estoque
        </p>
        <button>Adicionar o carrinho</button>
        
    </div>
</section>
