<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit, amet consectetur
                 adipisicing elit. Animi mollitia consequuntur architecto quos fugiat voluptate, quaerat odit cum totam sint nihil commodi ipsa cupiditate eum, delectus facere nesciunt veniam aut.
                
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-square-envelope"></i> Janael-Email@email.com</li>
                <li><i class="fa-solid fa-square-envelope"></i> +55-75-000000</li>
                <li><i class="fa-brands fa-telegram"></i> My telegram</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyrigth">
        &copy; todos os direitos Reservados a Janael ferraz 
    </section>
</footer>
